/* General styles */
body{
  background-color: #080000;
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

/* Profile container */
#container {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

/* Profile content */
#content {
  background-color: #2B2D42;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

/* Profile title */
#title {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 10px;
}

/* Profile email */
#idNum {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

/* Profile bio */
#bio {
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.5;
}

/* Profile links */
#links {
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.5;
}

/* Profile links title */
#link-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

/* Profile links items */
#links li {
  background-color: #4A4E69;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Profile picture */
img {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 179px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Edit profile picture modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

#edit-avatar-btn {
  float: right;
  margin: 10px;
  font-size: 16px;
  background-color: #4A4E69;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

#edit-avatar-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
