<!DOCTYPE html>
<html>
<head>
    <title> Home </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

{{> header}}

<div id="container">
    <div id="content">
        <h2 class="quicklinks"> Quicklinks </h2>
         <h1 id="title"> Networking has <br> never been so easy. </h1>

        <div id="subtitle">Everything, everywhere all at once </div>
        <a href="/signup">
            <button class="bigbutton"> Sign Up </button>
        </a>
        <a href="/login">
            <button class="bigbutton3"> Log in </button>
        </a>
        <a href="/signup">
            <button class="bigbutton2"> Get Started </button>
       </a>
    </div>
</div>

<div class="rectangle">
  <img src="LANDING.png" alt="My Image">
</div>

<div class="how-it-works">
    <h2>How Quick Link <br> works.</h2>
     <div id="quicklink-subtitle">Simple, Secure, People-Powered</div>
    
</div>

<div class="rectangle-container">
  <div class="rectangle1">
    <img src="your-image1.png" alt="Your Image 1">
  </div>
  <div class="rectangle2">
    <img src="your-image2.png" alt="Your Image 2">
  </div>
  <div class="rectangle3">
    <img src="your-image3.png" alt="Your Image 3">
  </div>
</div>

</body>
<footer> <p id="quicklinks2">Quicklinks</p> </footer>
</html>
