<!DOCTYPE html>
<html>
<head>
    <title> Settings </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>
<body>


{{> header}}
<div id="container">
    <div id="content">
        <h1 id="title"> Settings </h1>
        <form id="signup" method="post" action="/settings">
            <input type="text" name="bio" id="bio" class="field" placeholder="Add a bio" > <br>
            <input type="text" name="link1" id="link1" class="field" placeholder="Add link 1" > <br>
            <input type="text" name="link2" id="link2" class="field" placeholder="Add link 2" > <br>
            <input type="text" name="link3" id="link3" class="field" placeholder="Add link 3" > <br>
            <button type="submit" id="submit">Save</button>
        </form>
    </div>
</div>

</body>
</html>


</body>
</html>
